.atleta {
  width: 250px;
}

.atleta .cabecalho {
  background-color: #452c63;
  border-radius: 10px 10px 0px 0px;
}
.atleta img {
  display: flex;
  width: 110px;

  border-radius: 50%;
  position: relative;
  bottom: -40px 25px;
}
.atleta .rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding: 90px 0 40px;
}

.atleta .rodape h4,
.atleta .rodape h5 {
  margin: 0;
}

.atleta .rodape h4 {
  color: #ffd700;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-right: 8px;
}

.atleta .rodape h5 {
  font-size: 18px;
  line-height: 22px;
  color: #f0e68c;
}
