@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&family=Teko:wght@400;700&display=swap");

.time {
  text-align: center;
  padding: 32px;

  font-family: "teko", sans-serif;
  font-weight: 400;
}

.time h3 {
  font-size: 32px;
  border-bottom: 2px solid;
  display: inline-block;
  padding-bottom: 8px;
}
.time .atleta{
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  flex-wrap: wrap;
}