@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&family=Teko:wght@400;700&display=swap");

.time .card {
  font-family: "teko", sans-serif;
  text-align: center;
  padding: 32px;
  font-weight: 400;
}

.time h3 {
  font-size: 32px;
  font-family: "teko", sans-serif;
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.time .atletas {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}
